<p style="color: green"><%= notice %></p>

<%= render @neighbourhood %>

<div>
  <%= link_to "Edit this neighbourhood", edit_neighbourhood_path(@neighbourhood) %> |
  <%= link_to "Back to neighbourhoods", neighbourhoods_path %>

  <%= button_to "Destroy this neighbourhood", @neighbourhood, method: :delete %>
</div>
