<%= form_with(model: social_group) do |form| %>
  <% if social_group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(social_group.errors.count, "error") %> prohibited this social_group from being saved:</h2>

      <ul>
        <% social_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :neighbourhood_id, style: "display: block" %>
    <%= form.text_field :neighbourhood_id %>
  </div>

  <div>
    <%= form.label :person_id, style: "display: block" %>
    <%= form.text_field :person_id %>
  </div>

  <div>
    <%= form.label :group_type, style: "display: block" %>
    <%= form.number_field :group_type %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_field :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
