<div id="<%= dom_id social_group %>">
  <p>
    <strong>Name:</strong>
    <%= social_group.name %>
  </p>

  <p>
    <strong>Neighbourhood:</strong>
    <%= social_group.neighbourhood_id %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= social_group.person_id %>
  </p>

  <p>
    <strong>Group type:</strong>
    <%= social_group.group_type %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= social_group.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= social_group.email %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= social_group.notes %>
  </p>

</div>
